{% comment %}
Created by: Simon Neufville [simon@micainteractive.com]
Created on: January 25, 2018
Cart drawer markup and styling.
This should be implemented as snippet and included typically right after the opening <body> tag
{% endcomment %}

<div class="drawer" id="cartDrawer">
    {% comment %}
    Drawer Header
    {% endcomment %}
    <div class="drawer-header">
        <div class="drawer-actions">
            <ul>
                <li>
                    <a href="/cart">
                        <svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <path fill="currentColor" d="M6.74947953,4.75 L6.74947953,6 L13.2494795,6 L13.2494795,4.75 C13.2494795,2.958 11.7914795,1.5 9.99947953,1.5 C8.20747953,1.5 6.74947953,2.958 6.74947953,4.75 Z M2.81447953,18 L17.1844795,18 L16.3104795,7.5 L14.7494795,7.5 L13.2494795,7.5 L6.74947953,7.5 L5.24947953,7.5 L3.68947953,7.5 L2.81447953,18 Z M1.99947953,19.5 C1.79047953,19.5 1.58847953,19.412 1.44747953,19.258 C1.30647953,19.104 1.23547953,18.897 1.25247953,18.687 L2.25247953,6.688 C2.28547953,6.295 2.60547953,6 2.99947953,6 L5.24947953,6 L5.24947953,4.75 C5.24947953,2.131 7.38047953,0 9.99947953,0 C12.6184795,0 14.7494795,2.131 14.7494795,4.75 L14.7494795,6 L16.9994795,6 C17.3864795,6 17.7144795,6.302 17.7464795,6.687 L18.7464795,18.687 C18.7634795,18.896 18.6914795,19.104 18.5524795,19.258 C18.4094795,19.412 18.2084795,19.5 17.9994795,19.5 L1.99947953,19.5 Z"></path>
</svg>
                    </a>
                </li>
                <li>
                    <a class="drawer-close-button" id="drawerCloseButton">
                        <span aria-hidden="true">&times;</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    {% comment %}
    Drawer content
    {% endcomment %}
    <div class="drawer-inner">
        <h3 id="cartTitleText">{{ cart.item_count }} {{ cart.item_count | pluralize: 'Item', 'Items' }} ({{ cart.total_price | money }})</h3>
        <hr>
        <div class="cart-items-list" id="cartItemsList">
        {% for item in cart.items %}
            <div class="cart-item-container">
                <div class="cart-item">
                    <div class="cart-item-image">
                    {{  item.image | img_tag }}
                    </div>
                    <div class="cart-item-info">
                        <h4>{{ item.title }}</h4>
                        <p>{{ item.vendor}}</p>
                        <p>{{ item.price | money }}</p>
                        <a href="{{ item.url }}">View Item</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>

{% comment %}
Cart drawer styling
This could potentially be placed in an individual stylesheet or part of the main style
{% endcomment %}
<style>

.drawer-header {
    border-bottom: solid 1px #cccccc;
}

.drawer-actions {
    float: right;
    height: 64px;
}

.drawer-actions ul {
    list-style: none;
}

.drawer-actions ul>li {
    float: left;
    margin-left: 5px;
}

.drawer {
    background-color: #f4f4f4;
    bottom: 0;
    color: #333;
    display: none;
    height: 100%;
    position: fixed;
    right: -400px;
    overflow: auto hidden;
    z-index: 100;
    transition: all 0.35s cubic-bezier(0.29, 0.63, 0.44, 1);
    transition-property: all;
    transition-duration: 0.35s;
    transition-timing-function: cubic-bezier(0.29, 0.63, 0.44, 1);
    transition-delay: initial;
    width: 400px;
}

.drawer-show {
    display: block;
}

.drawer-transition {
    right: 0;
    transition: 2s;
}

.drawer-header {
    display: block;
    height: 64px;
    padding: 0 10px;
    position: absolute;
    top: 0;
    width: 100%;
}

.drawer-close {
    float: right;
    height: 64px;
}

.drawer-close-button {
    background: none;
    border: 0 none;
    color: inherit;
    font-size: 1.5em;
    height: 100%;
    padding: 0 20px;
    position: relative;
    /* right: -15px; */
    width: 60px;
}

.drawer-inner {
    bottom: 0;
    left: 0;
    padding: 0 20px;
    position: absolute;
    right: 0;
    top: 64px;
}

.cart-item-container {
    background-color: #ffffff;
    margin-bottom: 5px;
    padding: 0 10px;
}

.cart-item-image {
    float: left;
    margin-right: 10px;
}

.cart-item-image img {
  	height: 64px;
    object-fit: cover;
    max-height: 64px;
    max-width: 64px;
  	width: 64px;
}

.cart-item-info {
    float: right;
}

.cart-item-info h4 {
    font-weight: 600;
    margin-bottom: 6px;
}

.cart-item-info p {
    margin-top: 3px;
}

.cart-item-info a {
    color: #aacfe4;
    text-decoration: underline;
}

</style>
